/* BASICS */
.cm-wrapper {
  font: 16px/1.62 "Helvetica Neue", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  color: #2c3e50;
}
/* this is the title */
.cm-wrapper input {
  font: 18px "Helvetica Neue", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  background: transparent;
  padding: 4px;
  width: 100%;
  border: none;
  outline: none;
  opacity: 0.6;
}
.cm-toolbar {
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  padding: 8px 0;
  text-align: center;
  opacity: 0.6;
  -webkit-mask-box-image: -webkit-radial-gradient(white, transparent 90%);
}
.cm-wrapper input:hover, .cm-wrapper input:focus, .cm-toolbar:hover {
  opacity: 1;
}
.cm-toolbar span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  font: bold 18px/24px monospace;
}
.cm-toolbar span:hover {
  background: #fcfcfc;
  border-color: #95a5a6;
}
.cm-toolbar i.sep {
  display: inline-block;
  width: 0;
  border-left: 1px solid #d9d9d9;
  overflow: hidden;
  text-indent: -10px;
}
